---
name: CI
on: [workflow_dispatch, push, pull_request]  # yamllint disable-line rule:truthy
jobs:
  omnilint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: docker://lpenz/omnilint:0.5.2
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: docker://lpenz/ghaction-cmake:0.23.0
        with:
          preset: coverage
      - uses: coverallsapp/github-action@v2.3.7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: lcov.info
  tests:
    strategy:
      matrix:
        preset:
          - cppcheck
          - clang-tidy
          - install
          - clang-sanitize-address
          - clang-sanitize-memory
          - clang-sanitize-undefined
          - clang-sanitize-dataflow
          - clang-sanitize-safe-stack
          - valgrind
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: docker://lpenz/ghaction-cmake:0.23.0
        with:
          preset: ${{ matrix.preset }}
  clang-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: DoozyX/clang-format-lint-action@v0.20
  nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: cachix/install-nix-action@v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix build
      - run: nix flake check
  publish-cachix:
    needs: [omnilint, clang-format, tests, coverage]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0
      - id: version
        uses: docker://lpenz/ghaction-version-gen:0.18.0
      - uses: cachix/install-nix-action@v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          skipPush: ${{ steps.version.outputs.version_commit == '' }}
          name: lpenz
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - run: nix build
      - run: nix flake check
  publish-packagecloud:
    needs: [omnilint, clang-format, tests, coverage]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        variant:
          - image: debian-bookworm-amd64
            distro: debian
            version: bookworm
          - image: debian-trixie-amd64
            distro: debian
            version: trixie
          - image: ubuntu-noble-amd64
            distro: ubuntu
            version: noble
          - image: raspbian-bookworm-armhf
            distro: raspbian
            version: bookworm
    steps:
      - uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0
      - uses: docker/setup-qemu-action@v3.7.0
      - uses: docker://lpenz/ghaction-cmake:0.23.0
        if: matrix.variant.image == 'debian-bookworm-amd64'
        with:
          preset: cpack
      - uses: docker://lpenz/ghaction-cmake:0.23.0
        if: matrix.variant.image == 'debian-trixie-amd64'
        with:
          preset: cpack
      - uses: docker://lpenz/ghaction-cmake:0.23.0
        if: matrix.variant.image == 'ubuntu-noble-amd64'
        with:
          preset: cpack
      - uses: docker://lpenz/ghaction-cmake:0.23.0
        if: matrix.variant.image == 'raspbian-bookworm-armhf'
        with:
          preset: cpack
      - run: |
          for f in *.deb; do ls -l "$f"; dpkg --info "$f"; done
          sudo rm -rf _CPack_Packages
      - id: version
        uses: docker://lpenz/ghaction-version-gen:0.18.0
      - uses: docker://lpenz/ghaction-packagecloud:0.5
        if: steps.version.outputs.version_commit != ''
        with:
          repository: ${{ matrix.variant.distro }}/${{ matrix.variant.distro }}/${{
            matrix.variant.version }}
        env:
          PACKAGECLOUD_TOKEN: ${{ secrets.PACKAGECLOUD_TOKEN }}
