---
on: [workflow_dispatch]  # yamllint disable-line rule:truthy
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
        with:
          token: ${{ secrets.GHACTION_UPDATER_TOKEN }}
      - uses: saadmk11/github-actions-version-updater@v0.9.0
        with:
          token: ${{ secrets.GHACTION_UPDATER_TOKEN }}
